.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.result-container {
  background-color: #ffc533;

  width: 50%;
}

.input-container {
  background-color: #0f172a;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container-title {
  background-color: #ffbf1f;
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.heading-title {
  color: #334155;
  font-family: 'Roboto';
}

.image {
  margin-top: 50px;
  width: 100%;
}

.input-title {
  font-family: 'Roboto';
  color: #ffc533;
}

.input-box {
  width: 30vw;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.add-button {
  padding: 12px 20px 12px 20px;
  border-radius: 5px;
  background-color: #ffc533;
  color: #475569;
  font-weight: 600;
  border: none;

  margin-left: 10px;
}
